/*

!.github/
!.github/**

!scripts/
!scripts/**

!docs/
!docs/**

!modelos/
!modelos/**

!gui/
!gui/**

!settings/
!settings/**

**/__pycache__/

!*.gitignore
!LICENSE
!README.md
!AGENTS.md
!requirements.txt
!main.py